<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shaimaa Fayez, Ph.D.</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../content/css/vendors/bootstrap.min.css" />
    <link rel="stylesheet" href="../content/css/main/main.css" />
  </head>
  <body>
    <!-- start-Block::  NAVBAR -->
    <nav class="navbar fixed-top navbar-expand-lg">
      <div class="container text-center">
        <a class="navbar-brand fw-bold rounded-3 d-flex" href="about.html">
          Shaimaa Fayez, Ph.D.
        </a>

        <div class="ul__container" id="">
          <ul class="navbar-nav mb-2 mb-lg-0 navbar__ul ms-auto">
            <li class="nav-item me-3">
              <a class="nav-link text-capitalize rounded-3" href="about.html"
                >about</a
              >
            </li>
            <li class="nav-item me-3">
              <a
                class="nav-link text-capitalize rounded-3 active"
                href="portfoio.html"
              >
                portfolio
              </a>
            </li>
            <li class="nav-item me-3">
              <a
                class="nav-link text-capitalize rounded-3"
                aria-disabled="true"
                href="../index.html"
                >contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end-Block::  NAVBAR -->

    <main class="mt-5">
      <!-- start-Block:: introduction SEC -->

      <section
        class="header-sec text-center p-5 header__background text-white fw-bold mb-5"
      >
        <h2 class="text-center fw-bold fs-1">My Portfolio</h2>
        <span class="text-center d-block"
          ><a href="about.html" class="fw-bold text-white hovr">Home</a>
          <i class="fa-solid fa-arrow-right"></i>
          <a href="portfoio.html" class="fw-bold text-white hovr"
            >Portfolio</a
          ></span
        >
      </section>

      <!-- end-Block:: introduction SEC -->

      <!-- start-Block::Navs&Tabs -->
      <div class="container py-5 shadow mb-5">
        <div class="row">
          <div class="col-12">
            <h1 class="text-center fw-bold fs-1 primary">Publications</h1>
          </div>
          <div class="col-12">
            <div class="p-2">
              <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                  <a
                    href="#Publications"
                    class="nav-link active"
                    data-bs-toggle="tab"
                    >1</a
                  >
                </li>
                <li class="nav-item">
                  <a href="#Publications1" class="nav-link" data-bs-toggle="tab"
                    >2</a
                  >
                </li>
                <li class="nav-item">
                  <a href="#Publications2" class="nav-link" data-bs-toggle="tab"
                    >3</a
                  >
                </li>
              </ul>
              <div class="tab-content p-4">
                <div id="Publications" class="active tab-pane fade in show">
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/1.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/376013689_Assessing_the_chemical_composition_antioxidant_and_enzyme_inhibitory_effects_of_Pentapleura_subulifera_and_Cyclotrichium_glabrescens_extracts"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/2.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/375801354_Eucalyptus-derived_essential_oils_alleviate_microbes_and_modulate_inflammation_by_suppressing_superoxide_and_elastase_release?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/3.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/375744017_Moringa_extract_reverses_pilocarpine-induced_hippocampal_sclerosis_in_rats_with_temporal_lobe_epilepsy?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/4.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/373864740_LC-MSMS_and_GC-MS_profiling_antioxidant_enzyme_inhibition_and_antiproliferative_activities_of_Thymus_leucostomus_Hausskn_Velen_extracts?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/5.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/373172049_Molecular_determinants_of_the_response_of_cancer_cells_towards_geldanamycin_and_its_derivatives?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/6.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/372412701_Enhanced_Expression_of_p53_and_Suppression_of_PI3KAktmTOR_by_Three_Red_Sea_Algal_Extracts_Insights_on_Their_Composition_by_LC-MS-Based_Metabolic_Profiling_and_Molecular_Networking?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/7.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/370296283_Comparative_GC-MS_Analysis_of_Fresh_and_Dried_Curcuma_Essential_Oils_with_Insights_into_Their_Antioxidant_and_Enzyme_Inhibitory_Activities?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/8.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/369594981_Ancistrobrevinium_A_the_first_N-methylated_cationic_naphthylisoquinoline_alkaloid_from_the_tropical_liana_Ancistrocladus_abbreviatus_Ancistrocladaceae?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/9.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/369120889_Dioncophyllidine_E_the_first_configurationally_semi-stable_73'-coupled_naphthyldihydroisoquinoline_alkaloid_from_Ancistrocladus_abbreviatus_with_antiausterity_activity_against_PANC-1_human_pancreatic_?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/10.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/364714203_Ameliorative_effect_of_oregano_Origanum_vulgare_versus_silymarin_in_experimentally_induced_hepatic_encephalopathy?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/11.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/364320804_Naphthylisoindolinone_alkaloids_the_first_ring-contracted_naphthylisoquinolines_from_the_tropical_liana_Ancistrocladus_abbreviatus_with_cytotoxic_activity?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/12.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/366962132_Nutraceuticals_in_Cancer_Therapy_Challenges_and_Opportunities?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="Publications1" class="tab-pane fade">
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/13.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/363832811_The_Antioxidant_and_Enzyme_Inhibitory_Potential_of_the_n-Hexane-Extracted_Oils_Obtained_from_Three_Egyptian_Varieties_of_the_Golden_Dewdrop_Duranta_erecta_Linn_Supported_by_their_GC-MS_Metabolome_Anal?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/14.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/363703035_Differential_Metabolomic_Fingerprinting_of_the_Crude_Extracts_of_Three_Asteraceae_Species_with_Assessment_of_Their_In_Vitro_Antioxidant_and_Enzyme-Inhibitory_Activities_Supported_by_In_Silico_Investig?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/15.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/363195566_Mechanistic_Wound_Healing_and_Antioxidant_Potential_of_Moringa_oleifera_Seeds_Extract_Supported_by_Metabolic_Profiling_In_Silico_Network_Design_Molecular_Docking_and_In_Vivo_Studies?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/16.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/364073211_New_insights_into_antimicrobial_and_antibiofilm_effects_of_edible_mushrooms?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/17.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/362093637_GC-MS_metabolites_profiling_of_anethole-rich_oils_by_different_extraction_techniques_antioxidant_cytotoxicity_and_in-silico_enzymes_inhibitory_insights?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/18.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/361639476_Comparative_LC-LTQ-MS-MS_Analysis_of_the_Leaf_Extracts_of_Lantana_camara_and_Lantana_montevidensis_Growing_in_Egypt_with_Insights_into_Their_Antioxidant_Anti-Inflammatory_and_Cytotoxic_Activities?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/19.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/359976484_Naturally-derived_Analgesics_and_Anti-_Inflammatory_Agents?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/20.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/347668597_Ancistrobrevidines_A-C_and_Related_Naphthylisoquinoline_Alkaloids_with_Cytotoxic_Activities_against_HeLa_and_Pancreatic_Cancer_Cells_from_the_Liana_Ancistrocladus_abbreviates?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/21.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/344881449_Induction_of_apoptosis_in_breast_cancer_cells_by_naphthylisoquinoline_alkaloids?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/22.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/343394237_New_Cytotoxic_Cerebrosides_from_the_Red_Sea_Cucumber_Holothuria_spinifera_Supported_by_In-Silico_Studies?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/23.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/342796173_Thalassosterol_a_New_Cytotoxic_Aromatase_Inhibitor_Ergosterol_Derivative_from_the_Red_Sea_Seagrass_Thalassodendron_ciliatum?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/24.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/342483065_Naphthylisoquinoline_alkaloids_and_their_synthetic_analogs_as_potent_novel_inhibitors_against_Babesia_canis_in_vitro?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="Publications2" class="tab-pane fade">
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/25.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/341124623_New_Cytotoxic_Natural_Products_from_the_Red_Sea_Sponge_Stylissa_carteri?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/26.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/341112227_Sterubin_Enantioresolution_and_Configurational_Stability_Enantiomeric_Purity_in_Nature_and_Neuroprotective_Activity_in_Vitro_and_in_Vivo?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/27.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/339672606_Ancistrosecolines_A-F_Unprecedented_seco_-Naphthylisoquinoline_Alkaloids_from_the_Roots_of_Ancistrocladus_abbreviatus_with_Apoptosis-Inducing_Potential_against_HeLa_Cancer_Cells?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/28.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/336753547_A_Near-Complete_Series_of_Four_Atropisomeric_Jozimine_A_2_-Type_Naphthylisoquinoline_Dimers_with_Antiplasmodial_and_Cytotoxic_Activities_and_Related_Alkaloids_from_Ancistrocladus_abbreviatus?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/29.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/333227305_Ancistrobreveines_A-D_and_related_dehydrogenated_naphthylisoquinoline_alkaloids_with_antiproliferative_activities_against_leukemia_cells_from_the_West_African_liana_Ancistrocladus_abbreviatus?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/30.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/337337655_Isolation_structural_elucidation_and_biological_evaluation_of_Naphthylisoquinoline_alkaloids_from_two_African_Ancistrocladus_species?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/31.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/328833516_Ancistrobrevines_E-J_and_related_naphthylisoquinoline_alkaloids_from_the_West_African_liana_Ancistrocladus_abbreviatus_with_inhibitory_activities_against_Plasmodium_falciparum_and_PANC-1_human_pancrea?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/32.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/328201766_Ancistrolikokine_E_3_a_58'-Coupled_Naphthylisoquinoline_Alkaloid_Eliminates_the_Tolerance_of_Cancer_Cells_to_Nutrition_Starvation_by_Inhibition_of_the_AktmTORAutophagy_Signaling_Pathway?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/33.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/325927208_Ancistrolikokine_I_and_further_58'-coupled_naphthylisoquinoline_alkaloids_from_the_Congolese_liana_Ancistrocladus_likoko_and_their_cytotoxic_activities_against_drug-sensitive_and_multidrug_resistant_h?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/34.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/324984231_Ancistrolikokines_E-H_and_related_58'-coupled_naphthylisoquinoline_alkaloids_from_the_Congolese_liana_Ancistrocladus_likoko_with_antiausterity_activities_against_PANC-1_human_pancreatic_cancer_cells?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/35.png"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://www.researchgate.net/publication/270761419_Phytochemicals_of_Markhamia_Species_Bignoniaceae_and_Their_Therapeutic_Value_A_Review?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InByb2ZpbGUiLCJwYWdlIjoicHJvZmlsZSJ9fQ"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end-Block::Navs&Tabs -->

      <!-- start-Block:: FOOTER -->
      <footer class="footer mt-auto">
        <div class="footer__container container p-3 align-items-center">
          <div
            class="row text-center align-items-center justify-content-between"
          >
            <div class="copy-rights fw-bold text-white fs-5 col-md-4 col-sm-12">
              2023 © Shaimaa Fayez, Ph.D.
            </div>
            <div class="social-media__platforms col-md-6 col-sm-12 flex-nowrap">
              <a
                href="mailto:shaimaa_fayez@pharma.asu.edu.eg
              "
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-solid fa-envelope"></i
              ></a>
              <a
                href="tel:01126734820
              "
                target="_blank"
                class="phone-icon text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
              >
                <i class="fas fa-phone"></i>
              </a>
            </div>
            <div
              class="copy-rights-phone d-none fw-bold text-white fs-5 col-md-6 col-sm-12"
            >
              2023 © Shaimaa Fayez, Ph.D.
            </div>
          </div>
        </div>
      </footer>
      <!-- end-Block:: FOOTER-->
    </main>

    <script src="../content/js/vendors/bootstrap.bundle.min.js"></script>
  </body>
</html>
